body {
	font-family: Verdana, Serif;
}
#links {
	top: 100px;
	right: 100px;
	position: fixed;
}
#links a {
	padding: 0px 20px;
}
.antwoord {
	position: absolute;
	padding-top: 5%;
}
.header{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	background-color: #49DCDC;
	display: table;
	padding-top: 0px;
}
.footer{
	position:fixed;
	left: 0px;
	bottom:0px;
	border-top: solid #49DCDC;
	display: table;
	width: 100%;
}
.content{
	margin-top: 15%;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.ilustratie {
	position: relative;
	margin-left: 70%;
	height: 200px;
}
label {
	padding: 10px;
	margin: 10px;
}
input {
	padding: 10px;
	margin: 10px;
	width: 400px;
}
button {
	padding: 5px;
	margin: 10px;
}