body {
	font-family: Verdana, Serif;
}
#table{
	display: table;
	text-align : left;
}
#links {
	top: 100px;
	right: 100px;
	position: fixed;
}
.links{
    position: absolute;
}
.links label{
    float: left;
    width: 150px;
    padding: 7px;
    
}
.links input{
	padding: 8px;
	margin: 5px;
}
#links a {
	padding: 0px 20px;
}
.antwoord {
	position: absolute;
	padding-top: 5%;
}
#context{
	height: 200px;
}
#border{
	border: 1px solid #49DCDC;
}
.opties{
	position: absolute;
	margin-top: 150px;
	margin-left: 10%;
	margin-right: auto;
	text-align: left;
}
#opties th{
	text-align: left;
	width: 60px;
}
.header{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	background-color: #49DCDC;
	display: table;
	padding-top: 0px;
}
.footer{
	position:fixed;
	left: 0px;
	bottom:0px;
	border-top: solid #49DCDC;
	display: table;
	width: 100%;
}
#ilustratie{
	max-height: 200px;
}
.content{
	margin-top: 15%;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.content th {
	vertical-align: bottom;
}

.vragen{
	margin-top: 150px;
	margin-left: 40%;
	margin-right: auto;
	width: 50%;
}
.label {
	padding: 10px;
	margin: 10px;
}
.input {
	padding: 10px;
	margin: 10px;
	width: 400px;
}

.button {
	padding: 5px;
	margin: 10px;
}